//Ej3
body{
    width: 100%;
    height: 582px;
}
div{
    text-align: center;
    width: 15%;
    border: solid;
    border-radius: 10px;
}
#cubo{
    display: flex;
    justify-content: center;
    background-color: thistle;
}
#tabla{
    display: flex;
    width: 70%;

}
#radio{
    background-color: whitesmoke;
}
#raton{
    background-color:lightyellow;
}
#tecla{
    background-color:lightblue;
}
